

body{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 2rem;
}
article {
    text-align: center;
}
#parent{
    margin-block: 4rem;
    max-width: 60%;
    margin-inline: auto;
}
.item{
    box-shadow: 0 10px 10px #47454588;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-block: 2rem;
    margin-inline: 1rem;
    color: #fff;
   
}

.item1{
    background-color: #1867f0;
}
.item2{
    background-color: #04bf04;
}
.item3{
    background-color: #e93be9;
}

button{
    font-weight: 700;
    font-size: 1rem;
}

#all{
    background-color: #aaa;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #aaa;
    color: #fff;
}
#blue{
    background-color: #1867f0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #1867f0;
    color: #fff;
}
#green{
    background-color: #04bf04;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #04bf04;
    color: #fff;
}
#violet{
    background-color: #e93be9;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid #e93be9;
    color: #fff;
}