*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --bgclr-base: #ccc;
    --bgclr-h1-a: #dd5735;
    --bgclr-button: #dd5735;
    --bgclr-header-footer: #444444;
    --bgclr-text-css-html: #3101ff;
    --bgclr-text: #387d11;
    --mxw: 1500px;
    --fz: 1rem;
    --ff: sans-serif;
    --pbl: 2rem;
    --bgclr-nav: #cbcbcb;
    --pdg: 1rem 2rem;
    --pdg-header-footer: 3rem;
    --border-base: 1px solid #dd5735;
    --clr: #fff;
    --border-radius: 0.5rem;
    --fw: 700;
}

body {
    font-family: "Alexandria";
    font-size: var(--fz);
    background-color: var(--bgclr-base);
    font-size: 2rem;
    padding-block: var(--pbl);
}

div.container {
    max-width: var(--mxw);
    margin-inline: auto;
    text-align: center;
}



div img{  
    max-width: 100%;
    height: auto;
    box-shadow: 0px 10px 10px #0000008b;
    border-radius: 0.5rem;
    margin-inline: auto;
}


article{
    text-align: center;

}


.slick-slide{
    position: relative;
    padding: 2rem;
   
}

.slick-next{
    color: #dd5735;
    right: 200px;
    width: 90px;
    height: 90px;
    border: 0.2rem solid #e8c2da;
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-prev{
    
    left: 200px;
    border: 0.2rem solid #e8c2da;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* .slick-dots{
    font-size: 5rem;
} */
